[package]
name = "qitoy-derive"
version.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true

[dev-dependencies]
pretty_assertions = "1.4.0"
proconio.workspace = true
